body {
  background-color: rgb(230,120,150);
}

/* Some general classes and/or IDs to inline */

.floatLeft {
  float:left;
}

.floatRight {
  float:right;
}

.textAlignCenter {
  text-align:center;
}


/* the top right half of the page */

#topRightHalf {
  border-style: solid;
  border-width: 20px;
  border-style: ridge;
  border-color: rgb(200,180,0);
  width: 670px;
  background-color: rgb(200,180,0);
}


/* the buttons above the calendar*/

#yesEditingButton, #noEditingButton{
  margin-left: 20px;
  margin-top: 5px;
  border-style: ridge;
  border-width:3px;
  border-color: green;
}


/* the calendar */

#calendar {
}

#theTableItself {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-left: 15px;
}

#tableData {
  width: 70px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
}


/* the login box */

#loginBox {
  width: 370px;
  border-style: ridge;
  border-width: 7px;
  border-color: rgb(200,180,0);
  background-color: rgb(100,11,255);
}

#loginBox p {
  font-family: cursive;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  border-color: rgb(220,200,10);
  border-width: 5px;
  border-style: ridge;
  background-color: rgb(220, 150, 20);
}

#loginBox input {
  margin-left: 25%;
  border-color: red;
  padding: 1px 1px;
  border-width: 5px;
}

#createAccountButton {
  color: rgb(155,255,155);
  text-decoration: underline;
  text-decoration-color: rgb(155,0,255);
  margin-left: 30%;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: rgb(155,0,155);
}
